.navi {
    padding: 10px; /* Add padding around the navigation items */
    background-color: rgb(65, 80, 143);
    text-align: center; /* Center align header content */
    width: fit-content; /* Set width to fit the content */
    margin: auto; /* Center the container horizontally */
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for a lifted effect */
    color: rgb(46, 46, 46);
    padding-left: 13.5px;
}

.header {
    background-color: rgb(95, 117, 205);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for a lifted effect */
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

@media (max-width: 650px) {
    .header {
        max-width: 93%;
    }
}


.DescriptionBig {
    background-color: rgb(108, 127, 203);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header nav ul li {
    display: inline-block; /* Display list items inline */
    margin-right: 5px; /* Adjust spacing between menu items */
    padding: 5px 10px;
    background-color: rgb(137, 181, 247);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for a lifted effect */
}

.header a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(46, 46, 46);
    margin-right: 5px;
}

.header nav ul li:last-child {
    margin-right: 0px; /* Remove margin from the last item */
}

.header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(46, 46, 46);
}

@keyframes example {
    from {-webkit-box-shadow:0px 0px 0px 0px rgba(45,255,196,0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(45,255,196,0);
        box-shadow: 0px 0px 0px 0px rgba(45,255,196,0);}
    to {-webkit-box-shadow:0px 0px 10px 0px rgba(255, 255, 255, 0.84);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.84);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.84);}
}

@keyframes example2 {
    from {-webkit-box-shadow:0px 0px 10px 0px rgba(255, 255, 255, 0.84);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.84);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.84);}
    to {-webkit-box-shadow:0px 4px 4px 0px rgba(45,255,196,0);
        -moz-box-shadow: 0px 4px 4px 0px rgba(45,255,196,0);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);}
}

.header li:hover {
    background-color: rgb(82, 101, 180);
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.header li:not(:hover) {
    animation-name: example2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


body {
    background-color: rgb(147, 163, 227);
    color: rgb(46, 46, 46);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.DescriptionText {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    flex: 1;
}

.DescriptionImage img {
    width: 200px;
    height: auto;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

.Description {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */

}

.DesPlant {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: -10px;
}
  
.DesPlant img {
    width: 25px;
    height: auto;
}

#plantTemp {
    margin-left: 100px;
    width: 40px;
    height: auto;
}

#plant2Temp {
    margin-left: 200px;
}

.main {
    max-width: 600px;
    padding: 20px;
    background-color: rgb(95, 117, 205);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.feautured {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: rgb(108, 127, 203);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.feautured-title {
    margin: auto;
    text-align: center;
    position: relative;
}

.feautured-title p {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(243, 250, 108, 0.769);
}

.DescriptionTitle {
    padding-top: 20px;
    padding-bottom: 2px;
}

.DescriptionTitle p {
    margin: 0px;
    font-weight: bold;
    text-decoration: underline;
	 text-decoration-color: rgba(70, 225, 43, 0.785);
    text-decoration-thickness: 2px;
}

.product2 img {
    width: 200px;
    height: auto;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.product1 img {
    width: 200px;
    height: auto;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.product1 {
    background-color: rgb(63, 85, 172);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
}

.product1 p {
    color: rgb(189, 203, 255);
    font-weight: bold;
    text-decoration: wavy underline rgb(73, 116, 181);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.product1 a {
    margin-top: 15px;
    text-decoration: none;
    background-color: rgb(108, 127, 203);
    border-radius: 10px;
    padding: 7.5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    color: rgb(33, 33, 33);
}

.product2 {
    background-color: rgb(63, 85, 172);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
}

.product2 p {
    color: rgb(189, 203, 255);
    font-weight: bold;
    text-decoration: wavy underline rgb(73, 116, 181);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.product2 a {
    margin-top: 15px;
    text-decoration: none;
    background-color: rgb(108, 127, 203);
    border-radius: 10px;
    padding: 7.5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    color: rgb(33, 33, 33);
}

.products {
    display: flex; /* Use Flexbox for easy alignment */
    justify-content: space-between;
    position: relative;
}

.product1 a:hover {
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.product1 a:not(:hover) {
    animation-name: example2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.product2 a:hover {
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.product2 a:not(:hover) {
    animation-name: example2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.starImg {
    position: absolute;
    top: 5px;
    left: 20px;
}

.starImg img {
    width: 125px;
    height: auto;
    transform: rotate(90deg);
}

.starImg2 {
    position: absolute;
    top: 250px;
    left: 400px;
    z-index: -1;
}

.starImg2 img {
    width: 135px;
    height: auto;
    transform: rotate(90deg);
}

.footer {
    max-width: 600px;
    padding: 20px;
    background-color: rgb(95, 117, 205);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
}

.OnlineKaufen {
    background-color: rgb(133, 157, 253);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    padding-left: 32.5px;
    padding-right: 32.5px;
}

.Inspiration {
    background-color: rgb(133, 157, 253);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    padding-left: 32.5px;
    padding-right: 32.5px;
}

.Service {
    background-color: rgb(133, 157, 253);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    padding-right: 32.5px;
    padding-left: 32.5px;
}

.footer ul li {
    list-style: none;
}

.listNo {
    padding: 0px;
}

.listNo li {
    margin-bottom: 2.5px;
}

.listNo li a {
    text-decoration: none;
    color: rgb(61, 61, 61);
}

@keyframes listHover {
    from {
        color: rgb(61, 61, 61);
    }

    to {
        color: rgb(243, 250, 108);
    }
}

.listNo li a:hover {
    animation: listHover 1s;
}

.footerTitles {
    text-align: center;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

hr {
    border: 1px solid rgb(76, 76, 76);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}